<section class="explore">
    <div class="explore--content">
        <div class="text">

            <div class="heading text-uppercase d-flex align-items-center  text-left">Explore a new
                dimension</div>
            <div class="desc">Ready to unlock your
                <p>potentials in a world of fun?</p>
            </div>
            <button class="btn btn-primary px-4 py-3 rounded-pill custom-btn">Join for Free!</button>
        </div>
        <div class="explore-bg d-flex"><img src="../../../assets/imgs/div_CTA.png" alt=""></div>
    </div>
</section>