<div class="container-fluid my-5">
    <section class="archive w-100 d-flex we-the-best justify-content-center">
        <div class="img-archive w-50 align-items-stretch"><img class="w-100 h-100" src="../../../assets/imgs/img1.png"
                alt=""></div>
        <div class="archive--content">
            <div class="heading mfs d-flex justify-content-center align-items-center text-center">We are the Best Game
                Distributors for all Gamers.</div>
            <br><br>
            <div class="archive-goals d-flex row">
                <div class="archive-goals-item d-flex mb-5 text-white">
                    <div class="archiveItems-icon"><img class="m-2" src="../../../assets/imgs/play-button2.png"
                            alt="" /></div>
                    <div class="flex-column">
                        <div class="title-goes">
                            <h4>Title Goas Here</h4>
                        </div>
                        <div class="desc">
                            <p>Find wholesale prices and suppliers of video games, consoles, and game accessories.</p>
                        </div>
                    </div>
                </div>
                <div class="archive-goals-item d-flex mb-5 text-white">
                    <div class="archiveItems-icon"><img class="m-2" src="../../../assets/imgs/play-button2.png"
                            alt="" /></div>
                    <div class="flex-column">
                        <div class="title-goes">
                            <h4>Title Goas Here</h4>
                        </div>
                        <div class="desc">
                            <p>Find wholesale prices and suppliers of video games, consoles, and game accessories.</p>
                        </div>
                    </div>
                </div>
                <div class="archive-goals-item d-flex mb-5 text-white">
                    <div class="archiveItems-icon"><img class="m-2" src="../../../assets/imgs/play-button2.png"
                            alt="" /></div>
                    <div class="flex-column">
                        <div class="title-goes">
                            <h4>Title Goas Here</h4>
                        </div>
                        <div class="desc">
                            <p>Find wholesale prices and suppliers of video games, consoles, and game accessories.</p>
                        </div>
                    </div>
                </div>
                <div class="archive-goals-item d-flex mb-5 text-white">
                    <div class="archiveItems-icon"><img class="m-2" src="../../../assets/imgs/play-button2.png"
                            alt="" /></div>
                    <div class="flex-column">
                        <div class="title-goes">
                            <h4>Title Goas Here</h4>
                        </div>
                        <div class="desc">
                            <p>Find wholesale prices and suppliers of video games, consoles, and game accessories.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>