<div class="container-fluid">
    <section class="archive d-flex we-the-best">
        <div class="img-archive align-items-stretch"><img src="../../../assets/imgs/img1.png" alt=""></div>
        <div class="archive--content">
            <div class="heading  mfs">We are the Best Game Distributors for all Gamers.</div>
            <br><br>
            <div class="archive-goals">
                <div class="archive-goals-item d-flex">
                    <div class="archiveItems-icon"><img src="../../../assets/imgs/play-button2.png" alt="" /></div>
                    <div class="flex-column">
                        <div class="title-goes">
                            <h4>Title Goas Here</h4>
                        </div>
                        <div class="desc">
                            <p>Find wholesale prices and suppliers of video games, consoles, and game accessories.</p>
                        </div>
                    </div>
                </div>
                <div class="archive-goals-item d-flex">
                    <div class="archiveItems-icon"><img src="../../../assets/imgs/play-button2.png" alt="" /></div>
                    <div class="flex-column">
                        <div class="title-goes">
                            <h4>Title Goas Here</h4>
                        </div>
                        <div class="desc">
                            <p>Find wholesale prices and suppliers of video games, consoles, and game accessories.</p>
                        </div>
                    </div>
                </div>
                <div class="archive-goals-item d-flex">
                    <div class="archiveItems-icon"><img src="../../../assets/imgs/play-button2.png" alt="" /></div>
                    <div class="flex-column">
                        <div class="title-goes">
                            <h4>Title Goas Here</h4>
                        </div>
                        <div class="desc">
                            <p>Find wholesale prices and suppliers of video games, consoles, and game accessories.</p>
                        </div>
                    </div>
                </div>
                <div class="archive-goals-item d-flex">
                    <div class="archiveItems-icon"><img src="../../../assets/imgs/play-button2.png" alt="" /></div>
                    <div class="flex-column">
                        <div class="title-goes">
                            <h4>Title Goas Here</h4>
                        </div>
                        <div class="desc">
                            <p>Find wholesale prices and suppliers of video games, consoles, and game accessories.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>