header {
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s ease;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

#header-text {
  margin-top: 20%;
}
#Text1 {
  font-size: 14px;
  font-weight: 700;
  color: white;
}
#Text2 {
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  #Text2 {
    font-size: 32px;
  }
}

#HeaderBtn {
  background: linear-gradient(267.28deg, #00ff01 24%, #6fda6f 73.95%);
  backdrop-filter: blur(4px);
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding: 16px 40px;
  margin-top: 48px;
  margin-bottom: 226px;
}
#scroll {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.downward-arrow {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  0%,
  25%,
  55%,
  75%,
  100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(-5px);
  }
}

/* to disable the focus in bootstrarp Header */
#HeaderBtn:focus {
  box-shadow: none;
}
