<header>
    <div class="container">
        <div class="row">
            <div class="col-12  d-flex justify-content-center" id="header-text">
                <hr style="width: 40px;;text-align:left;margin-left:0;color:white; height: 2px; opacity:1;">
                <p id="Text1" class="align-self-center mx-1 mb-0">GAMEWORLD DISTRIBUTORS</p>
                <hr style="width: 40px;;text-align:left;margin-left:0;color:white; height: 2px; opacity:1;">
            </div>
            <div id="Text2" class="col-12 d-flex justify-content-center text-center">
                Connecting Players & <br>
                Games in an Immersive environment.
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button type="button" [routerLink]="['auth/register']" id="HeaderBtn"
                    class="btn btn-primary btn-sm mx-2">Become a Member for
                    Free!</button>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <p class="mx-2" id="scroll">Scroll down</p>
                <span class="downward-arrow mt-1"><img src="../../../assets/imgs/arrow_downward_24px.svg" alt=""></span>
            </div>
        </div>
    </div>
</header>