<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Shop</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  >Our Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  >Offers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  >Frequently asked questions</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Links</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">About us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-column">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <span class="footer-title">Contact & Support</span>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"  ><i class="fas fa-comments"></i>Live chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  ><i class="fas fa-envelope"></i>Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  ><i class="fas fa-star"></i>Give feedback</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

        <div class="row text-center">
            <div class="col-md-4 box">
                <span class="copyright quick-links">Copyright &copy; 2022. All rights reserved.

                </span>
            </div>
            <div class="col-md-4 box">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a  >
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a  >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a  >
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 box">
                <ul class="list-inline quick-links">
                    <li class="list-inline-item">
                        <a  >Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a>Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>