<br><br>
<div class="logo-brand d-flex justify-content-between align-items-center">
    <div class="col"><a [routerLink]="['/']"><img src="../../../assets/imgs/steam.svg" alt="Steam"></a></div>
    <div class="col"><a [routerLink]="['/']"><img src="../../../assets/imgs/microsoft.svg" alt="Microsoft"></a></div>
    <div class="col"><a [routerLink]="['/']"><img src="../../../assets/imgs/xbox.svg" alt="Xbox"></a></div>
    <div class="col"><a [routerLink]="['/']"><img src="../../../assets/imgs/playstation.svg" alt="PlayStation"></a>
    </div>
    <div class="col"><a [routerLink]="['/']"><img src="../../../assets/imgs/play.svg" alt="Play"></a></div>
</div>
<div class="circle-img-blur" style="width: 516px; height: 516px; left: -100px; top: 1068px;"></div>
<div class="circle-img-blur" style="width: 389px; height: 389px; right: -100px; top: 1094px;"></div>

<section class="whatwedo">
    <div class="subtittle d-flex align-items-center justify-content-center gap-2"> </div>
    <div class="heading">What we do</div>
    <div class="mb-3"> </div>
    <div class="title fw-600 text-white text-center">Meeting the needs of players <br> across the world</div>
    <div class="row">
        <div class="cardsbar col-4">
            <div class="card-items">
                <div class="hor-line" style="background-color: #61FFDA;"></div>
                <div class="image-cover"><img src="../../../assets/imgs/w1.png" alt=""></div>
                <div class="heading d-flex gap-0">
                    <h6 class="fw-500 text-white"> Video Game Suppliers</h6><img src="../../../assets/imgs/path1.svg"
                        alt>
                </div>
                <div class="desc fw-600"> List of carefully selected, verified, high quality suppliers in different
                    regions
                    worldwide.</div>
            </div>
        </div>
        <div class="cardsbar col-4">
            <div class="card-items">
                <div class="hor-line" style="background-color: #7B61FF;"></div>
                <div class="image-cover"><img src="../../../assets/imgs/w3.png" alt=""></div>
                <div class="heading d-flex gap-0">
                    <h6 class="fw-500 text-white"> Video Game Suppliers</h6><img src="../../../assets/imgs/path1.svg"
                        alt>
                </div>
                <div class="desc fw-600"> List of carefully selected, verified, high quality suppliers in different
                    regions
                    worldwide.</div>
            </div>
        </div>
        <div class="cardsbar col-4">
            <div class="card-items">
                <div class="hor-line" style="background-color: #FF626B;"></div>
                <div class="image-cover"><img src="../../../assets/imgs/w2.png" alt=""></div>
                <div class="heading d-flex gap-0">
                    <h6 class="fw-500 text-white"> Video Game Suppliers</h6><img src="../../../assets/imgs/path1.svg"
                        alt>
                </div>
                <div class="desc fw-600"> List of carefully selected, verified, high quality suppliers in different
                    regions
                    worldwide.</div>
            </div>
        </div>
    </div>
</section>