.green-col-bk{
    background-color: #00ff01;
}
.mat-tab-label {
    color: #ffffff !important;
  }
.green-col{
    color: #00ff01;
}
.table-slider {
    max-height:600px;
    overflow-y:scroll;
}
.wish-slider {
    max-height:300px;
    overflow-y:scroll;
}
.cover{
 background-image: url('https://i.ibb.co/zV9wTWV/background-14651782-Copy.jpg');
height: 205px;
overflow: hidden;
margin-top: 56.5px;
}
.cursor-pointer{
    cursor: pointer;
}

.hedding {
    font-size: 20px;
}


.left-side-product-box img {
    width: 100%;
}

.left-side-product-box .sub-img img {
    margin-top: 5px;
    width: 83px;
    height: 100px;
}

.right-side-pro-detail span {
    font-size: 15px;
}

.right-side-pro-detail p {
    font-size: 25px;
}

.right-side-pro-detail .price-pro {
    color: #76FF03;
}

.right-side-pro-detail .tag-section {
    font-size: 18px;
    color: #5D4C46;
}

.pro-box-section .pro-box img {
    width: 100%;
    height: 200px;
}

@media (min-width:360px) and (max-width:640px) {
    .pro-box-section .pro-box img {
        height: auto;
    }
}

::ng-deep .mat-tab-label{
    color:white !important;
  }
::ng-deep .custom-style{
    background-color:#1c1c27;
    color:white;
  }
::ng-deep .mat-simple-snackbar-action{
    background-color:#1c1c27;
    color:#00ff01;

}

.pagination > li > a
{
    background-color: #0d100d;
    color: white;
    border: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #00ff01;
    // color: #fff;
}

.pagination > .active > a
{
    color: #00ff01;
    background-color: #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
}

ngb-pagination ::ng-deep a {
    color: white !important;
    background-color: #1a1a1a;
  }

  ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: black;
    background-color: #76FF03;
  }

  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem #76FF03;
  }