<section class="testimonial">
    <div class="heading text-uppercase d-flex align-items-center justify-content-center text-center">Testimonials</div>
    <div class="test-title">
        <h1 class="text-center">What our Customers are saying</h1>
    </div>
    <ul class="list-testimonials d-flex justify-content-center">
        <li class="list-item d-flex">
            <div class="testi-content">
                <div class="vote d-flex"><img src="../../../assets/imgs/star-fill.svg" alt="" /><img
                        src="../../../assets/imgs/star-fill.svg" alt="" /><img src="../../../assets/imgs/star-fill.svg"
                        alt="" /><img src="../../../assets/imgs/star-fill.svg" alt="" /><img
                        src="../../../assets/imgs/star-fill.svg" alt="" /></div>
                <div class="desc">
                    <p>My neighbor has one of these. She works as a gardener and she says its really awesome.</p>
                </div>
                <div class="name">
                    <h5>Charles Boyle</h5>
                </div>
                <div class="job-name">
                    <h6>Graphic Designer</h6>
                </div>
            </div>
            <div class="img-testimonial"> <img src="../../../assets/imgs/testi1.png" alt="" /></div>
        </li>
        <li class="list-item d-flex">
            <div class="testi-content">
                <div class="vote d-flex"><img src="../../../assets/imgs/star-fill.svg" alt="" /><img
                        src="../../../assets/imgs/star-fill.svg" alt="" /><img src="../../../assets/imgs/star-fill.svg"
                        alt="" /><img src="../../../assets/imgs/star-fill.svg" alt="" /><img
                        src="../../../assets/imgs/star-fill.svg" alt="" /></div>
                <div class="desc">
                    <p>One of my hobbies is gaming, and when im hiking this works great. Medley is ghetto.</p>
                </div>
                <div class="name">
                    <h5>Mary Smith</h5>
                </div>
                <div class="job-name">
                    <h6>3D Animator</h6>
                </div>
            </div>
            <div class="img-testimonial"> <img src="../../../assets/imgs/testi2.png" alt="" /></div>
        </li>
    </ul>
</section>