.cover {
    background-image: url('https://i.ibb.co/zV9wTWV/background-14651782-Copy.jpg');
    height: 205px;
    overflow: hidden;
    margin-top: 56.5px;
}


#logo {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1.6rem;
}

.card-body {
    padding: 0 5rem 5rem 5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

@media(max-width:768px) {
    .card-body {
        padding: 0 1rem 1rem 1rem;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card-top {
        padding: 0.7rem 1rem;
    }
}

.row {
    margin: 0;
}

.upper {
    padding: 1rem 0;
    justify-content: space-evenly;
}

#three {
    border-radius: 1rem;
    width: 22px;
    height: 22px;
    margin-right: 3px;
    border: 1px solid blue;
    text-align: center;
    display: inline-block;
}

#payment {
    margin: 0;
    color: blue;
}

.icons {
    margin-left: auto;
}

form span {
    color: #fff;
}

form {
    padding: 2vh 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
    // opacity: 1!important;
}
::ng-deep .mat-datepicker-appearance-outline .mat-datepicker-outline {
    color: white;
    // opacity: 1!important;
}
.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
    background-color: black;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }

.inputgg {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.header {
    font-size: 1.5rem;
}

.left {
    background-color: #1a1a1a;
    padding: 2vh;
}

.left img {
    width: 2rem;
}

.left .col-4 {
    padding-left: 0;
}

.right .item {
    padding: 0.3rem 0;
}

.right {
    background-color: #1a1a1a;
    padding: 2vh;
}

.col-8 {
    padding: 0 1vh;
}

.lower {
    line-height: 2;
}

.ggbtn {
    color: white;
    width: 100%;
    font-size: 1.2rem;
    margin: 4vh 0 1.5vh 0;
    padding: 1.5vh;
    border-radius: 0;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

input[type=checkbox] {
    width: unset;
    margin-bottom: unset;
}

#cvv {
    background-image: url("https://img.icons8.com/material-outlined/24/000000/help.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

#cvv:hover {}

.bgblack {
    background-color: #1a1a1a;

}

.bgsecondary {
    background-color: #3b3b3b;

}

.imgsize {
    width: 100px;
    height: 100px;
}

.scroll {
    max-height: 510px;
    overflow-y: scroll;
}

::placeholder {
    color: white;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}