<div class="cover   ">
    <div class="container-fluid my-5 text-light ">
        <h3 class="display-5 mb-2 text-center text-uppercase font-weight-bold">All Products</h3>
        <div class="mb-5">
            <a class="text-light " [routerLink]="['/']"><i class="fas fa-arrow-left mr-2 text-light"></i> Home Page</a>
        </div>
    </div>
</div>

<!-- _____________________________ -->

<div class="container">
<div class="my-2 w-25 text-light">
  <select class="form-control text-light" (change)="filterProduct($event)">
    <option value="all">Categories</option>
    <option value="{{option}}" *ngFor="let option of categoriesList">{{option}}</option>
  </select>
</div>
</div>

<!-- _____________________________ -->

<div class="container my-5" >
    <ng-container *ngIf="!loading" >
        <div class=" row"  >
            
          <app-product *ngFor="let product of filteredProducts | slice: (page-1) * pageSize : page * pageSize"  [productData]="product"

            (messageFromChild)="actionFromParent($event)"
            class=" col-lg-3 col-md-4 col-xl-3 col-12 d-flex justify-content-center">
          </app-product>

    </div>
    </ng-container>
    <div *ngIf="loading" class="spinner-border d-flex justify-content-center m-auto mt-5 text-primary" role="status" style="text-align: center;">
    </div>
</div>

<ngb-pagination  class="d-flex justify-content-center"
[collectionSize]="(productlist.length)"
  [(page)]="page" 
  [pageSize]="pageSize" >
</ngb-pagination>
