.green-col-bk{
    background-color: #00ff01;
}

.green-col{
    color: #00ff01;
}
.table-slider {
    max-height:600px;
    overflow-y:scroll;
}
.wish-slider {
    max-height:300px;
    overflow-y:scroll;
}
.cover{
 background-image: url('https://i.ibb.co/zV9wTWV/background-14651782-Copy.jpg');
height: 205px;
overflow: hidden;
}
.cursor-pointer{
    cursor: pointer;
}



.pagination > li > a
{
    background-color: #0d100d;
    color: white;
    border: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #00ff01;
    color: #fff;
}

.pagination > .active > a
{
    color: #00ff01;
    background-color: #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
}

