<nav class="navbar navbar-expand-lg fixed navbar-inverse" >
  <div class="container">
    <a class="Logo" [routerLink]="['/']">
      <img  alt="" width="30" height="30" />
    </a>
    <a class="navbar-brand" href="#">Good Game</a>
    <a class="mx-1 ms-auto d-lg-none wish_list position-relative mt-2 mb-2" [routerLink]="['shop/cart']">
      <i class="fa fa-heart "></i>
      <span
        class="position-absolute translate-middle badge wish-notif-m d-flex justify-content-center align-items-center">{{
        wishCounter }}</span></a>
    <a class="d-lg-none cart position-relative mt-2 mb-2" [routerLink]="['shop/cart']"><i
        class="bx bx-drink fas fa-shopping-cart  "></i><span
        class="position-absolute translate-middle badge cart-notif-m d-flex justify-content-center align-items-center">{{cartCounter}}</span></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Currency
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li (click)="changeCurrency('euro')" class="dropdown-item">EURO</li>
            <li (click)="changeCurrency('egypt')" class="dropdown-item">EGYPT POUND</li>
            <li (click)="changeCurrency('dollar')" class="dropdown-item">Dollar</li>
          </ul>
        </li>
      </ul>
    </div>

    <div *ngIf="!toggled" class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" (click)="toggleAdd()">
      <span class="navbar-toggler-icon"></span>
    </div>
    <div *ngIf="toggled" class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" (click)="toggleRemove()">
      <span class="navbar-toggler-icon"></span>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-lg-0 align-items-center navbar_ul">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/privacy']">Privacy Policy</a>
        </li>
        <li>
          <a
            class="nav-link"
            [routerLinkActive]="'active'"
            [routerLink]="['/shop/productlist']"
            >Our Shop</a
          >
        </li>
        <li class="nav-item">
          <a *ngIf="!loggedIn" class="nav-link d-none-xl"[routerLink]="['auth/login']" [routerLinkActive]="'active'"
            >Login<i class="fa-regular fa-user ms-1"></i
          ></a>
          <a *ngIf="loggedIn" (click)="logout()" class="nav-link d-none-xl" [routerLink]="['/']" [routerLinkActive]="'active'"
            >Logout<i class="fa-regular fa-user ms-1"></i
          ></a>
        </li>
        <li><a *ngIf="loggedIn"  class="nav-link d-none-xl" [routerLink]="['/auth/account']" [routerLinkActive]="'active'"
          >Edit profile<i class="fa-regular fa-user ms-1"></i
        ></a></li>
      </ul>
      <div class="search-container mx-lg-3 ms-auto me-auto ">
          <form class="position-relative" (submit)="search()" [formGroup]="searchForm">
            <input #myname [(ngModel)]="terms"
            formControlName="name"
            name="terms" class="w-100 bg-black form-control text-light" placeholder="Search..."/>
            <button id="search-btn" class="btn position-absolute" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
          </form>
          <div class="position-absolute box-search  text-light" *ngIf="myname.value != ''">
            <div  *ngFor="let item of data |filter : terms ">
                <div  class="row my-2">
                  <div class="col-4">
                    <a [routerLink]="['/productdetails', item._id]"><img src="{{item.image}}" class="w-100"/></a>
                  </div>
                  <div class="col-8">
                    <p>{{item.name}}</p>
                  </div>
                </div>
                <hr style="background-color: aliceblue;"/>
            </div>

          </div>
      </div>
    </div>
    <a
      *ngIf="loggedIn"
      class="mx-1 ms-auto d-none d-lg-block wish_list mt-2 mb-2 position-relative"
      [routerLink]="['shop/wishlist']"
      ><i class="fa fa-heart "></i
        ><span class="position-absolute  badge wish-notif d-flex justify-content-center align-items-center"
        >{{ wishCounter  }}</span
      ></a
    >
    <a class="d-none d-lg-block cart mt-2 mb-2 position-relative" [routerLink]="['shop/cart']"
      >
      <i class="bx bx-drink fas fa-shopping-cart  "></i>
      <span class="position-absolute d-flex justify-content-center align-items-center  badge cart-notif">
        {{cartCounter}}</span></a>

  </div>
</nav>