.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.navbar-inverse {
  background-color: #1c1c27;
}
.Logo {
  margin-right: 8px;
}
.wish_list {
  margin-bottom: 6px;
}

.cart {
  margin-bottom: 6px;
  margin-left: 6px;
}
.wish-notif {
  vertical-align: middle;
  margin-left: -8.5px;
  margin-top: 8px;
  font-size: 13px;
}
.cart-notif {
  vertical-align: middle;
  margin-left: -10.5px;
  margin-top: 8px;
  font-size: 13px;
}

.navbar-brand {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.nav-link {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.nav-link:hover {
  color: #00ff01;
  cursor: pointer;
}
.active {
  color: #00ff01;
}

.navbar-toggler {
  border-color: white;
  color: rgba(255, 255, 255, 0.8);
}
.navbar-toggler-icon {
  color: #00ff01;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* search navbar setting */
.search-container {
  position: relative;
  width: 219px;
  margin-right: 8px;
}
.form-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 34px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  color: #acb1c6;
}
#search-btn {
  background: linear-gradient(267.28deg, #00ff01 24%, #00ff01 73.95%);
  position: absolute;
  right: 4px;
  top: 3px;
  bottom: 5px;
  border: 0;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
  width: 28px;
  height: 28px;
}
#signInBtn {
  background: linear-gradient(267.28deg, #00ff01 24%, #00ff01 73.95%);
  border-radius: 20px;
  border: none;
  width: 90px;
}
/* to disable the focus in bootstrarp NavBar */
.form-control:focus {
  box-shadow: none;
}
#search-btn:focus {
  box-shadow: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}
#signInBtn:focus {
  box-shadow: none;
}
