table {
  width: 100%;
	border-color:white ;
}

.mat-cell {
	padding:  2% 0;
	color: white;
}

.mat-header-cell {
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid grey;
}


