<div class="mt-5">
    <div class="listcard">
        <ul class="listcard--hor row">
            <li class="col-3">
                <div class="listcard--card">
                    <div class="card--img"> <img src="../../../assets/imgs/news1.png" alt=""></div>
                    <div class="listcard--card--content">
                        <div class="game-info">
                            <div class="game-name fw-500"> Call of Duty: Vanguard</div>
                            <div class="game-company">Activision </div>
                            <div class="desc">PS4, PS5, Xbox One, Xbox Series X</div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center">
                            <div class="vote-count d-flex justify-content-between align-items-center">
                                <div class="vote d-flex justify-content-between align-items-center"><img
                                        src="../../../assets/imgs/star-fill.svg" alt="">
                                    <p class="vote--data">4.5</p>
                                </div>
                                <p class="data--orders">175 orders</p>
                            </div>
                            <div class="btn btn-CTA">Order Now</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3">
                <div class="listcard--card">
                    <div class="card--img"> <img src="../../../assets/imgs/news2.png" alt=""></div>
                    <div class="listcard--card--content">
                        <div class="game-info">
                            <div class="game-name fw-500"> FIFA 22</div>
                            <div class="game-company">Activision </div>
                            <div class="desc">PS4, PS5, Xbox One, Xbox Series X</div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center">
                            <div class="vote-count d-flex justify-content-between align-items-center">
                                <div class="vote d-flex justify-content-between align-items-center"><img
                                        src="../../../assets/imgs/star-fill.svg" alt="">
                                    <p class="vote--data">4.5</p>
                                </div>
                                <p class="data--orders">175 orders</p>
                            </div>
                            <div class="btn btn-CTA">Order Now</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3">
                <div class="listcard--card">
                    <div class="card--img"> <img src="../../../assets/imgs/news3.png" alt=""></div>
                    <div class="listcard--card--content">
                        <div class="game-info">
                            <div class="game-name fw-500"> GOFTG</div>
                            <div class="game-company">Activision </div>
                            <div class="desc">PS4, PS5, Xbox One, Xbox Series X</div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center">
                            <div class="vote-count d-flex justify-content-between align-items-center">
                                <div class="vote d-flex justify-content-between align-items-center"><img
                                        src="../../../assets/imgs/star-fill.svg" alt="">
                                    <p class="vote--data">4.5</p>
                                </div>
                                <p class="data--orders">175 orders</p>
                            </div>
                            <div class="btn btn-CTA">Order Now</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3">
                <div class="listcard--card">
                    <div class="card--img"> <img src="../../../assets/imgs/news4.png" alt=""></div>
                    <div class="listcard--card--content">
                        <div class="game-info">
                            <div class="game-name fw-500"> Alan Wake</div>
                            <div class="game-company">Activision </div>
                            <div class="desc">PS4, PS5, Xbox One, Xbox Series X</div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center">
                            <div class="vote-count d-flex justify-content-between align-items-center">
                                <div class="vote d-flex justify-content-between align-items-center"><img
                                        src="../../../assets/imgs/star-fill.svg" alt="">
                                    <p class="vote--data">4.5</p>
                                </div>
                                <p class="data--orders">175 orders</p>
                            </div>
                            <div class="btn btn-CTA">Order Now</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="mb-4"></div>
        <ul class="listcard--hor row">
            <li class="col-3">
                <div class="listcard--card">
                    <div class="card--img"> <img src="../../../assets/imgs/news5.png" alt=""></div>
                    <div class="listcard--card--content">
                        <div class="game-info">
                            <div class="game-name fw-500"> Far Cry 6</div>
                            <div class="game-company">Activision </div>
                            <div class="desc">PS4, PS5, Xbox One, Xbox Series X</div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center">
                            <div class="vote-count d-flex justify-content-between align-items-center">
                                <div class="vote d-flex justify-content-between align-items-center"><img
                                        src="../../../assets/imgs/star-fill.svg" alt="">
                                    <p class="vote--data">4.5</p>
                                </div>
                                <p class="data--orders">175 orders</p>
                            </div>
                            <div class="btn btn-CTA">Order Now</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3">
                <div class="listcard--card">
                    <div class="card--img"> <img src="../../../assets/imgs/news6.png" alt=""></div>
                    <div class="listcard--card--content">
                        <div class="game-info">
                            <div class="game-name fw-500"> Prince of Percia</div>
                            <div class="game-company">Activision </div>
                            <div class="desc">PS4, PS5, Xbox One, Xbox Series X</div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center">
                            <div class="vote-count d-flex justify-content-between align-items-center">
                                <div class="vote d-flex justify-content-between align-items-center"><img
                                        src="../../../assets/imgs/star-fill.svg" alt="">
                                    <p class="vote--data">4.5</p>
                                </div>
                                <p class="data--orders">175 orders</p>
                            </div>
                            <div class="btn btn-CTA">Order Now</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3">
                <div class="listcard--card">
                    <div class="card--img"> <img src="../../../assets/imgs/news7.png" alt=""></div>
                    <div class="listcard--card--content">
                        <div class="game-info">
                            <div class="game-name fw-500"> Dead Island 2</div>
                            <div class="game-company">Activision </div>
                            <div class="desc">PS4, PS5, Xbox One, Xbox Series X</div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center">
                            <div class="vote-count d-flex justify-content-between align-items-center">
                                <div class="vote d-flex justify-content-between align-items-center"><img
                                        src="../../../assets/imgs/star-fill.svg" alt="">
                                    <p class="vote--data">4.5</p>
                                </div>
                                <p class="data--orders">175 orders</p>
                            </div>
                            <div class="btn btn-CTA">Order Now</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-3">
                <div class="listcard--card">
                    <div class="card--img"> <img src="../../../assets/imgs/news8.png" alt=""></div>
                    <div class="listcard--card--content">
                        <div class="game-info">
                            <div class="game-name fw-500"> Saint Row</div>
                            <div class="game-company">Activision </div>
                            <div class="desc">PS4, PS5, Xbox One, Xbox Series X</div>
                        </div>
                        <div class="action d-flex justify-content-between align-items-center">
                            <div class="vote-count d-flex justify-content-between align-items-center">
                                <div class="vote d-flex justify-content-between align-items-center"><img
                                        src="../../../assets/imgs/star-fill.svg" alt="">
                                    <p class="vote--data">4.5</p>
                                </div>
                                <p class="data--orders">175 orders</p>
                            </div>
                            <div class="btn btn-CTA">Order Now</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>