<div class="text-light my-5">
  <section class="pb-5">
      <div class="cover">
          <div class="container-fluid my-5">
              <h3 class="display-5 mb-2 text-center text-uppercase font-weight-bold">Wishlist</h3>

              <div class="mb-5">
                  <a class="text-light "><i class="fas fa-arrow-left mr-2 text-light"></i> Continue Shopping</a>
              </div>
          </div>

      </div>
                <div class=" justify-content-center d-flex container my-5">
                    <div class="w-100">


                    <div class="wish-slider  rounded " *ngIf="wishListArr.length">
                        <table id="shoppingCart" class="table   table-condensed table-responsive text-light">
                            <thead>
                                <tr>
                                    <th style="width:70%">Product</th>
                                    <th style="width:12%">Price</th>
                                    <th style="width:10%"></th>
                                    <th style="width:16%"></th>
                                </tr>
                            </thead>
                            <tbody class="text-light">

                                <tr *ngFor="let wishProd of wishListArr">
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-md-3 text-left cursor-pointer">
                                                <img src="{{wishProd.image}}" alt=""
                                                    class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                            </div>
                                            <div class="col-md-9 text-left my-1">
                                                <p class="font-weight-light">{{wishProd.name}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Price" class="green-col">
                                        <div class="row my-1">
                                            <div>{{wishProd.price | eURToEGP}}</div>
                                        </div>
                                    </td>
                                    <td data-th="Quantity">
                                        <div class="">
                                            <i (click)="showSnackbarTopPosition('Added to Cart','Close')"
                                            class="cursor-pointer fas fa-duotone fa-cart-plus m-1 fa-2x"
                                                style="color: #97de95;" onmouseover="this.style.color='#00ff01';"
                                                onmouseout="this.style.color='#97de95';
                                            "
                                            (click)="addFromWishToCart(wishProd)"></i>
                                        </div>
                                    </td>
                                    <td class="actions" data-th="">
                                        <div class="text-right">
                                            <i (click)="showSnackbarTopPosition('Removed from Wish List','Close')"
                                            class="fas fa-trash m-1 fa-2x cursor-pointer"
                                                style="color: rgb(168, 62, 62);" onmouseover="this.style.color='red';"
                                                onmouseout="this.style.color='rgb(168, 62, 62)';
                                                "
                                                (click)="delete(wishProd._id)"></i>
                                        </div>
                                    </td>
                                </tr>



                            </tbody>
                        </table>

                    </div>
                    <h1 class="text-center" *ngIf="!wishListArr.length">Wishlist is empty</h1>
                </div>
                
                </div>
  </section>
</div>
