header {
  background: linear-gradient(
      160deg,
      rgba(28, 28, 40, 0.8) 0%,
      rgba(28, 28, 40, 0) 77.78%
    ),
    url("../../../assets/imgs/346439\ 1.jpg");
  background-size: cover;
  background-position: center;
  transition-duration: 2s;
}
