<section class="news">
    <div class="header">
        <div class="header--title text-center text-white">Newly Released Games</div>
        <div class="header--menu d-flex justify-content-center align-items-center">
            <div><a class="header--menu--items active" [routerLink]="['/cart']">All</a> </div>
            <div><a class="header--menu--items " [routerLink]="['/cart']">PS4</a> </div>
            <div><a class="header--menu--items " [routerLink]="['/cart']">PS5</a> </div>
            <div><a class="header--menu--items " [routerLink]="['/cart']">Xbox</a> </div>
        </div>
    </div>
    <app-card></app-card>
</section>