
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GoodGame-Angular-Ecommerce-primary: mat.define-palette(mat.$light-green-palette,A400);
$GoodGame-Angular-Ecommerce-accent: mat.define-palette(mat.$grey-palette,900);

// The warn palette is optional (defaults to red).
$GoodGame-Angular-Ecommerce-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$GoodGame-Angular-Ecommerce-theme: mat.define-light-theme((
  color: (
    primary: $GoodGame-Angular-Ecommerce-primary,
    accent: $GoodGame-Angular-Ecommerce-accent,
    warn: $GoodGame-Angular-Ecommerce-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($GoodGame-Angular-Ecommerce-theme);

$primary: #76FF03;
$body-bg: #212121;
dy {
  background-color: #212529;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
@import "../node_modules/bootstrap/scss/bootstrap";

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #76ff03 #212121;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #212121;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #76ff03;
    border-radius: 10px;
    border: 1px solid #212121;
  }
