df-messenger {
    --df-messenger-bot-message: #76ff03;
    --df-messenger-button-titlebar-color: #76ff03;
    --df-messenger-chat-background-color: #1c1c27;
    --df-messenger-font-color: #1c1c27;
    --df-messenger-send-icon: #3f67f7;
    --df-messenger-user-message: #fff;
   }